
<div >
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <h6>Login Form</h6>
      <p>Angular Demo</p>
      <div class="login-container">
        <div class="image-container"><img src="assets/imagen.png" class="user-image"></div>
        <div>
          <input id="email" type="email" formControlName="email" placeholder="Email">
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            <div *ngIf="loginForm.get('email')?.errors?.['required'] " class="error">Invalid email format.</div>
            <div *ngIf="loginForm.get('email')?.errors?.['email']" class="error">Invalid email format.</div>
          </div>
        </div>
    
        <div>
          <input id="password" type="password" formControlName="password" placeholder="Password">
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
            Invalid password.
          </div>
        </div>
        <div *ngIf="loginError" class="error">
          Invalidad username or password.
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
        <span>user: <b>user&#64;demo.com</b> pass:<b> 123456</b></span>
      </div>
    </form>
  </div>